/.venv
venv

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

**/*images
**/__pycache__
**.pth
/ml/logs
wandb


# Mac crap
**/.idea/
**/.DS_Store

**/uploads