**.env
/.venv
venv

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

**/*/*images**
**/__pycache__
**.pth
/ml/logs
/ml/data
/ml/models_registry
wandb


/images-scraper/**.csv
/images-scraper/**.xlsx



# Mac crap
**/.idea/
**/.DS_Store

**/uploads

# Infra related stuff
**.terraform
**terraform.**
**ssl**
